@layer base {
  * {
    @apply box-border border-border;
  }
  body {
    @apply min-h-screen bg-background font-sans text-foreground antialiased;
    ::selection {
      @apply bg-amber-500 text-primary-foreground;
    }
  }

  /* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition:
      background-color 600000s 0s,
      color 600000s 0s;
  }

  code,
  kbd,
  pre,
  samp {
    font-family: var(--font-jetbrains-mono), monospace;
    font-weight: 500 !important;
  }
}
