@reference '../../styles/breakpoints.css';

.inner {
  overflow: hidden;
  display: flex;
}

.overflow {
  display: flex;
}

.overflow > * {
  flex-shrink: 0;
}

@media (width >= theme(--breakpoint-md)) {
  .inner {
    position: sticky;
    --height: calc(((440 * 100) / var(--device-width)) * 1vw);
    top: calc((100vh - var(--height)) / 2);
  }
}

@media (width < theme(--breakpoint-md)) {
  .inner {
    width: 100%;
  }
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .cards > * {
    margin-bottom: calc(((32 * 100) / var(--device-width)) * 1vw);
  }
}
