.marquee {
  display: flex;
  overflow: hidden;
  width: 100%;
  will-change: transform;
}

.inner {
  display: flex;
  white-space: nowrap;
  animation: marquee var(--duration, 5s) linear infinite;
}

.inverted .inner {
  animation-name: marquee-inverted;
}

@keyframes marquee {
  0% {
    transform: translate3d(calc(var(--offset, 0%) * -1), 0, 0);
  }
  100% {
    transform: translate3d(calc(-100% - var(--offset, 0%)), 0, 0);
  }
}

@keyframes marquee-inverted {
  0% {
    transform: translate3d(calc(-100% - var(--offset, 0%)), 0, 0);
  }
  100% {
    transform: translate3d(calc(var(--offset, 0%) * -1), 0, 0);
  }
}
